<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SDA Time Clock</title>
    <link rel='stylesheet' href='/styles/css/foundation.css'>
    <script src="/scripts/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">SDA Time Clock</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/Admin/Jobs">Jobs</a></li>
          <li><a href="/Admin/Hours">Hours</a></li>
          <li><a href="/Admin/Users">Users</a></li>
          <li><a href="/Admin/Assign">Assign</a></li>
        </ul>
      </section>
    </nav>
    <br>
    <div class="row">
      <div class="small-11 small-centered columns">
      {{{body}}}
      </div>
    </div>
  </body>
</html>